body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   display: flex;
    flex-direction: column;    
    font-family: Arial, Helvetica, sans-serif;    
    
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{    
    display: flex;
    justify-content: space-between;
    width: 1100px; 
        
}
.container .logo{
    display: flex;
    align-items: center;
}
.menu{
    
    display: flex;
    align-items: center;
    
}
 nav ul,
 nav li{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover{
    background-color: #39aae1;
    color: #fff;
}
#banner{
    display:flex;
    justify-content: center;
    background-image: url(images/img1.jpg);
    background-size: cover;
    background-position: center;
    height: 670px;  
   
   
}
.column{
    flex-direction: column;
    height: inherit;
      
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.banner_headline h1{
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2{
     color: #fff;
    font-size: 20px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
     max-width: 350px;
     margin-top: 30px;
}
.banner_options{
    flex: 1;
    height: 210px;
    display: flex;
     align-items: flex-end;
   
}
.banner1,
.banner2,
.banner3{
    flex: 1;
    color: #fff;
    padding: 20px;
    font-size: 20px;
}
.banner1{
    background-color: #39aae1;
    height: inherit;
}
.banner2{
    background-color: #0079c7;
     height: inherit;
}
.banner3{
    background-color: #2b4c99;
     height: inherit;
}
.banner_desc p{
    font-size: 15px;
    margin-top: 30px;
    
}
.banner_desc a{
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px;
    display: inline-block;
    color: #fff;
    margin-top: 30px;
}
.banner_agenda{ 
    display: flex;
    flex-direction: column;      
}
.agenda1,
.agenda2,
.agenda3{
    border-bottom: 1px solid #fafafa11;
    margin-top: 10px;
    padding-top: 1px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    
}
#geral{
    display: flex;
    justify-content: center;    
 }
#geral section{
    flex: 2;
     
}
#geral aside{
    flex: 1;  
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 30px;
}
.widget_title_text{
    color: #000;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar{
    width: 50px;
    height: 3px;
    background-color: #39aae1;
    margin-top: 10px;
}

.widget_body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    
}


.departments1, 
.departments2,
.departments3,
.departments4,
.departments5,
.departments6{
   width: 150px;
    height: 150px;
    background-color: #39aae1;    
}
.departments-margin{
     margin-top: 40px;
     margin-bottom: 20px;
}
.widget_comunicacao{
    display: flex;
    flex-direction: column;
}
.widget_desc, .widget_contato, .widget_saudacao{
    border-bottom: 1px solid #8f83832d;
    display: flex;
    padding-bottom: 10px;
    
}

.widget_contato img, .widget_saudacao img{
    width: 20px;
    height: 20px;
    padding: 15px;
}
.phone_contato{
    font-weight: bold;
}
.email-contato{
    color: #39aae1;
}
article{
    display: flex;
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    
}
article a{
    text-decoration: none;
}
.news{
    display: flex;
       
}
.date_news,
.comments_news{
    color: #fff;
    font-size: 12px;
    padding: 10px;
}
.comments_news{
    background-color: #39aae1;
}
.date_news{
    background-color: #2b4c99;
    margin-right: 2px;
}
.news_thumbnail{
    margin-top: 30px;
}
.news_thumbnail img{
    width: 100%;
    height: auto;
}
.news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
}
.news_resume{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
footer{
   display: flex;
   justify-content: center;
   background-color: #1e1e1e;
   
.footer_menu{
    display: flex;
    flex: 1;
}
.fm_1,.fm_2,.fm_3{
    flex: 1;
    color: #fff;
    padding: 20px;
}
}
.fm_1{
    background-color: #39aae1;
    height: inherit;
}
.fm_2{
    background-color: #0079c7;
     height: inherit;
}
.fm_3{
    background-color: #2b4c99;
     height: inherit;
}
.footer_area{
    display: flex;
    
}
.footer_areaitem{
    flex: 1;
    color: #fff;
}
.flexColumn{
    flex-direction: column;
}
footer .widget_title_text{
    color: #fff;
}
.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}
.widget_footerContact,.widget_footerMsg{
    display: flex;   
    font-size: 12px;
    color: #5c5c5c;
    
}
.title_contact{
    font-size: 12px;
    color: #5c5c5c;
    padding-top: 20px;
}
.mail_dest{
    color: #fff;
}
.footerContact1,
.footerContact2,
.footerContact3{
    display: flex;
    justify-content: space-between; 
    padding-right: 20px;
     line-height: 15px;
    
}
.widget_iconMidias img{
    width: 20px;
    height: 20px;
    background-color: #727272;
    margin-top: 30px;
}

.post1,
.post2,
.post3{
    padding-bottom: 15px;
    padding-right: 10px;
    font-size: 12px;
     line-height: 15px;
}
.post_data{
    color: #39aae1;
    padding-top: 5px;
}
.tweets1,
.tweets2,
.tweets3{
    font-size: 12px;
    padding-bottom: 15px;
    color: #727272;
    line-height: 15px;
}
.tweets_data{
    padding-top: 10px;
    color: #39aae1;
}
@media (max-width:768px){
    header .container .logo{
        padding: 10px;
    }
    header .container .menu a{
        font-size: 12px;
        padding: 10px;
    }
    .banner_headline h1{
        font-size: 50px;
       
    }
    .banner_headline h2{
        font-size: 17px;
    }
    .banner_headline{
        padding: 10px;
    }
    .banner1,.banner2,.banner3{
        font-size: 12px;
    }
    .widget_title_text{
        font-size: 15px;
        padding-left: 10px;
    }
    .widget_title_bar{
        margin-left: 10px;
    }
    .news{
        padding-left: 10px;
    }
    .date_news{
        font-size: 10px;
        
    }
    .news_thumbnail{
        width: auto;
    }
    .news_title{
        font-size: 15px;
        padding-left: 10px;
    }
    .news_resume{
        font-size: 12px;
        padding-left: 10px;
    }
    .widget_body{
        justify-content: center;
    }
    .widget_comunicacao{
        font-size: 12px;
    }
    .title_fm h3{
        font-size: 15px;
    }
    .fm_desc{
        font-size: 12px;
    }
    .widget_footerMsg, 
    .widget_footerContact,
    .widget_iconMidias,
    .title_contact,
    .footer_copy{
        padding-left:10px ;
    }
    
}